
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html, body {

    height: 100%;
    width: 100%;
	scroll-behavior: smooth;

}

body {
    
    margin: 0 auto;
    background-color: #202124;

}
.decal {
	
	z-index: -1;
	filter: invert(100%);
	opacity: 0.08;
	position: absolute;
	
}

a {
    color: white;
}

a:visited {

    color: white;
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}
/*
.hidden {
	
	opacity: 0;
	transform: translateX(-50px);
	transition: all 1s;
	
}

.show {
	
	opacity: 1;
	transform: translateX(0px);
	
}*/